
  

  <div class="container">
  <div class="row row-cols-3">
    <div class="col-xl-4">
      <!-- Начало внутреннего контейнера -->

            <div class="container">
              <div class="row ">
                <div class="col-9">Фото</div>
                <div class="col-4">Название</div>
                <div class="col-4">Цена</div>
                <div class="col-12">Описание</div>
                <div class="col-12">Размер</div>
                <div class="col-12">Тип</div>
                <div class="col-12">Предложение</div>

                <div class="col-12"><button class="btn btn-primary" id="allert" onclick="something()">Accept</button></div>
              </div>
            </div>

      <!-- Конец внутреннего контейнера -->
    </div>
     <div class="col-xl-4">
      <!-- Начало внутреннего контейнера -->
     <div class="container">
              <div class="row">
                <div class="col-9">Фото</div>
                <div class="col-4">Название</div>
                <div class="col-4">Цена</div>
                <div class="col-12">Описание</div>
                <div class="col-12">Размер</div>
                <div class="col-12">Тип</div>
                <div class="col-12">Предложение</div>
                <div class="col-12"><button class="btn btn-primary" id="allert" onclick="something()">Accept</button></div>
              </div>
            </div>
      <!-- Конец внутреннего контейнера -->
    </div>
     <div class="col-xl-4">
      <!-- Начало внутреннего контейнера -->
     <div class="container">
              <div class="row">
                <div class="col-9">Фото</div>
                <div class="col-4">Название</div>
                <div class="col-4">Цена</div>
                <div class="col-12">Описание</div>
                <div class="col-12">Размер</div>
                <div class="col-12">Тип</div>
                <div class="col-12">Предложение</div>
                <div class="col-12"><button class="btn btn-primary" id="allert" onclick="something()">Accept</button></div>
              </div>
            </div>
      <!-- Конец внутреннего контейнера -->
    </div>
  </div>
</div>