
  <button class="btn btn-primary" id="allert" onclick="something()">Accept</button>

<div class="container">
  <!-- внешний -->

<div class="row">
  <!--  -->
    <div class="col-md-4">
     <!--продукт  -->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
     Фото
    </div> 
  </div>
  <div class="row">
    <div class="col-md-4">
     Название
    </div> 
    <div class="col-md-4">
     Цена
    </div> 
  </div>
  <div class="row">
    <div class="col-md-4">
     Описание
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
     Размер
    </div>
    <div class="col-md-2">
      Веганская
    </div>
    
  </div>
  <div class="col-md-4">
      Лучшее предложение
    </div>
</div>
<!-- продукт -->
 </div>
 <div class="col-md-4">
     <!--продукт  -->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
     Фото
    </div> 
  </div>
  <div class="row">
    <div class="col-md-4">
     Название
    </div> 
    <div class="col-md-4">
     Цена
    </div> 
  </div>
  <div class="row">
    <div class="col-md-4">
     Описание
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
     Размер
    </div>
    <div class="col-md-1">
      Веганская
    </div>
    <div class="col-md-3">
      Лучшее предложение
    </div>
  </div>
</div>
<!-- продукт -->
 </div>
 <div class="col-md-4">
     <!--продукт  -->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
     Фото
    </div> 
  </div>
  <div class="row">
    <div class="col-md-6">
     Название
    </div> 
    <div class="col-md-6">
     Цена
    </div> 
  </div>
  <div class="row">
    <div class="col-md-6">
     Описание
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
     Размер
    </div>
    <div class="col-md-1">
      Веганская
    </div>
    <div class="col-md-3">
      Лучшее предложение
    </div>
  </div>
</div>
<!-- продукт -->
 </div>
<!-- внутренний -->
  </div>
<!-- внешний -->
</div>