<div class="media">
  <img src="..." class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Ваш заказ приняли!</h5>
    <p>С Вами свяжется в ближайшее время наш менеджер. Ожидайте звонка</p>
  </div>
</div>

<script type="text/javascript">
	 function clear_order(){
         window.localStorage.clear();
         
     }
</script>